
{% extends 'gdPublic/partial/GdPublicHeaderFooter.html.twig' %}

{% block metatitle %}
    blog :404 error
{% endblock %}

{% block content %}
<section class="bigerror">

    <div class="error">
        <img src="https://i.gifer.com/origin/0f/0f0873c16b1c44f9903243fe5a96a5ce_w200.gif">
    </div>

<h1>Bob et John, il z'ont pas trouvé ! </h1>

    <div class="error">
<img src="https://media.tenor.com/Id1tcVjcqREAAAAM/steven-seagal-what.gif">
    </div>
</section>

{% endblock %}