


{% extends 'gdPublic/partial/GdPublicHeaderFooter.html.twig' %}

{% block metatitle %}
    le blog : accueil
{% endblock %}

{% block content %}

<body>
    <main>
        <div class="document">
                    <div class="articles">
                        <article class="article">
                            <p> c'est bon</p>
                        </article>
                    </div>
        </div>
    </main>
</body>

{% endblock %}


